.header{
	position: relative;
	text-align: center;
}

.header-img{
	width: 100%;
	position: relative;
}

.menu{
  position: absolute;
  bottom: 8px;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

body{
	background-color:#e2edff;
}

.text-white{
	color: white;
}

.input-form{
	width: 500px;
	text-align: center;
	margin: auto;
	padding-top: 40px;
}

.form-control{
	background-color: linen;
}

.flashes{
	color: red;
}