{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
    <form class="form-inline my-2 my-lg-0" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search" onkeyup="filterTable()">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Mobile</th>
					<th scope="col">Address</th>
					<th scope="col">Job</th>
					<th scope="col">E-mail</th>
					<th scope="col">Notes</th>
					<th scope="col">Sex</th>
                    <th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody id="my-table">
				{% for parent in parents %}
					<tr>
						<th scope="row">{{parent.id}}</th>
						<td>{{parent.name}}</td>
						<td>{{parent.mobile}}</td>
						<td>{{parent.address}}</td>
						<td>{{parent.job}}</td>
						<td>{{parent.email}}</td>
						<td>{{parent.notes}}</td>
						<td>{{parent.sex}}</td>
                        <td><a href="{{url_for('_editParent', parentId=parent.id)}}">Edit</a></td>
						<td><a href="{{url_for('_deleteParent', parentId=parent.id)}}">Delete</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.easy-autocomplete.min.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/easy-autocomplete.min.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/autocomplete.js')}}"></script>
	<script type="text/javascript">
		parentsAutocomplete('#search');
	</script>
	<script>
	function filterTable(){
		var value = $("#search").val().toLowerCase();
    $("#my-table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
	}
	</script>

{% endblock %}