{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<form class="form-inline my-2 my-lg-0" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search" onkeyup="filterTable()">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Name</th>
					<th scope="col">Mobile</th>
					<th scope="col">E-mail</th>
					<th scope="col">Notes</th>
					<th scope="col">Father</th>
					<th scope="col">Mother</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody id="my-table">
				{% if students[1] %}
				{% for student in students %}
					<tr>
						<th scope="row">{{student.id}}</th>
						<td>{{student.name}}</td>
						<td>{{student.mobile}}</td>
						<td>{{student.email}}</td>
						<td>{{student.notes}}</td>
						<td>{{student.father}}</td>
						<td>{{student.mother}}</td>
						<td><a href="{{url_for('_editStudent', studentId=student.id)}}">Edit</a></td>
						<td><a href="{{url_for('_deleteStudent', studentId=student.id)}}">Delete</a></td>
					</tr>
				{% endfor %}
				{% else %}
					<tr>
						<th scope="row">{{students.id}}</th>
						<td>{{students.name}}</td>
						<td>{{students.mobile}}</td>
						<td>{{students.email}}</td>
						<td>{{students.notes}}</td>
						<td>{{students.father}}</td>
						<td>{{students.mother}}</td>
						<td><a href="{{url_for('_editStudent', studentId=students.id)}}">Edit</a></td>
						<td><a href="{{url_for('_deleteStudent', studentId=students.id)}}">Delete</a></td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery.easy-autocomplete.min.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/easy-autocomplete.min.css')}}">
	<script type="text/javascript" src="{{url_for('static', filename='js/autocomplete.js')}}"></script>
	<script type="text/javascript">
		studentsAutocomplete('#search');
	</script>
	<script>
	function filterTable(){
		var value = $("#search").val().toLowerCase();
    $("#my-table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
	}
	</script>

{% endblock %}

