{% extends "main.html" %}
{% include "header.html" %}

{% block content %}
    <button class="btn btn-primary" data-toggle="collapse" data-target="#info">Info</button>
    <button class="btn btn-primary" data-toggle="collapse" data-target="#grades">Grades</button>
    <button class="btn btn-primary" data-toggle="collapse" data-target="#notes">Notes</button>
    <button class="btn btn-primary" data-toggle="collapse" data-target="#payments">Payments</button>

	<div class="collapse multi-collapse card text-white bg-dark mb-3" id="info">
        <h3 class="card-header">Main Info</h3>
        <div class="card-body">
            <p><span class="text-primary">Name   : </span>{{ student.name }}</p>
            <p><span class="text-primary">Mobile : </span>{{ student.mobile }}</p>
            <p><span class="text-primary">Email  : </span>{{ student.email }}</p>
            <p><span class="text-primary">Notes  : </span>{{ student.notes }}</p>
            <p><span class="text-primary">Father : </span>{{ student.father }}</p>
            <p><span class="text-primary">Mother : </span>{{ student.mother }}</p>
            {% if current_user.admin == 1 %}
                <a class="btn btn-info" href="{{ url_for('_editStudent', studentId=student.id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('_deleteStudent', studentId=student.id) }}">Delete</a>
            {% endif %}
        </div>
    </div>

    <div class="collapse multi-collapse card text-white bg-dark mb-3" id="grades">
        <h3 class="card-header">Grades</h3>
        <div class="card-body">
            {% for grade in grades %}
                <p><span class="text-primary">Date   : </span>{{ grade.date }}</p>
                <p><span class="text-primary">Grade  : </span>{{ grade.grade }}</p>
                <p><span class="text-primary">Notes  : </span>{{ grade.notes }}</p>
                {% if current_user.admin == 1 %}
                    <a class="btn btn-info" href="{{ url_for('_editStudentGrades', studentId=student.id, gradesId=grade.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('_deleteStudentGrades', studentId=student.id, gradesId=grade.id) }}">Delete</a>
                {% endif %}
                <hr>
            {% endfor %}
            {% if current_user.admin == 1 %}
                <a class="btn btn-success" href="{{ url_for('_addStudentGrades', studentId=student.id) }}">Add Grade</a>
            {% endif %}
        </div>
    </div>

    <div class="collapse multi-collapse card text-white bg-dark mb-3" id="notes">
        <h3 class="card-header">Notes</h3>
        <div class="card-body">
            {% for note in notes %}
                <p><span class="text-primary">Date   : </span>{{ note.date }}</p>
                <p><span class="text-primary">Note   : </span>{{ note.note }}</p>
                <p><span class="text-primary">Notes  : </span>{{ note.notes }}</p>
                {% if current_user.admin == 1 %}
                    <a class="btn btn-info" href="{{ url_for('_editStudentNotes', studentId=student.id, notesId=note.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('_deleteStudentNotes', studentId=student.id, notesId=note.id) }}">Delete</a>
                {% endif %}
                <hr>
            {% endfor %}
            {% if current_user.admin == 1 %}
                <a class="btn btn-success" href="{{ url_for('_addStudentNotes', studentId=student.id) }}">Add Note</a>
            {% endif %}
        </div>
    </div>

    <div class="collapse multi-collapse card text-white bg-dark mb-3" id="payments">
        <h3 class="card-header">Payments</h3>
        <div class="card-body">
            {% for payment in payments %}
                <p><span class="text-primary">Date   : </span>{{ payment.date }}</p>
                <p><span class="text-primary">Payment   : </span>{{ payment.payment }}</p>
                <p><span class="text-primary">Notes  : </span>{{ payment.notes }}</p>
                {% if current_user.admin == 1 %}
                    <a class="btn btn-info" href="{{ url_for('_editStudentPayments', studentId=student.id, paymentsId=payment.id) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ url_for('_deleteStudentPayments', studentId=student.id, paymentsId=payment.id) }}">Delete</a>
                {% endif %}
                <hr>
            {% endfor %}
            {% if current_user.admin == 1 %}
                <a class="btn btn-success" href="{{ url_for('_addStudentPayments', studentId=student.id) }}">Add Payment</a>
            {% endif %}
        </div>
    </div>
{% endblock %}